{{#if filename}}
<a class="image" href="https://commons.wikimedia.org/w/thumb.php?width=500&f={{encodeURIComponent filename}}" title="{{stripHTML extmetadata.ImageDescription.value}}" data-gallery="{{gallery}}">
  <img src="https://commons.wikimedia.org/w/thumb.php?width=100&f={{encodeURIComponent filename}}" title="{{stripHTML extmetadata.ImageDescription.value}}" />
  <dl class="hiddendescription">
  {{#if extmetadata.License}}
  <dt>License</dt> <dd>{{extmetadata.License.value}}</dd>
  {{/if}}
  {{#if extmetadata.Date}}
  <dt>License</dt> <dd>{{extmetadata.Date.value}}</dd>
  {{/if}}
  {{#if extmetadata.Categories}}
  <dt>Categories</dt> <dd>{{extmetadata.Categories.value}}</dd>
  {{/if}}
</dl>
</a>
{{/if}}
