{{#*inline "myPartial"}}
{{!http://handlebarsjs.com/partials.html}}
  <td><ul>
    {{#each this }}
    <li>{{mainsnak.datatype}}</li>
    {{/each}}</ul>
  </td>
  <td>
    <td><ul>
      {{#each this }}
      <li>{{ baseTypeTemplate mainsnak.datatype this "options" }}</li>
      {{/each}}</ul>
    </td>
  </td>
{{/inline}}

{{#each languages as |Language|}}
{{#if @first}}

{{#each ../entity/claims }}
  {{#if @first}}
    <table>
      <th>{{label.labels.[0].value}}</th>
  {{/if}}
      <tr>
        <td class="labelvalue">
          {{#with (lookup ../../labels/entities @key)}}
            {{#with (lookup this/descriptions Language)}}
              <a href="simple.html?{{@key}}" title="{{value}}">
            {{/with}}
            {{#with (lookup this/labels Language)}}
              {{value}}</a>
            {{/with}}
          {{/with}}
      </td>
      <td>
        {{ dynamicPropertyTemplate @key this.[0].mainsnak.datatype this }}
      </td>
      {{#> myPartial }}
        <td class="defaultlabel">default value: {{ this.[0].mainsnak.datavalue.value.[0] }}</td>
      {{/myPartial}}
      </tr>
  {{#if @last}}
    </table>
  {{/if}}
{{/each}}
{{/if}}
{{/each}} {{! languages }}
