{{! debug "outside loop 1"}}

{{! debug this}}
{{#if mainsnak}}
  <td>{{ dynamictemplate mainsnak.datavalue.value.numeric-id "defaultText" this "A4" }}</td>
{{else}}

  {{#each this}}
    {{! debug "inside loop"}}
    {{! debug this}}

{{!mainsnak.datavalue.type == "wikibase-entityid"}}

{{!mainsnak.datavalue.value.entity-type == 'item'}}

    <td>{{this.mainsnak.datavalue.value}}</td>

    {{#if mainsnak}}
      <td>{{ dynamictemplate mainsnak.datavalue.value.numeric-id mainsnak.datatype this "A0" }}</td>
    {{else}}
      <td>{{ dynamictemplate datavalue.value.numeric-id datatype this "A1" }}</td>
    {{/if}}
  {{/each}}
{{/if}}
